In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv("Niranjani_test_set_Level_2.csv")

In [54]:
df.head()

,Unnamed: 0,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,Remarks,Label_level2,Remarks_level2
0,0,15780037,"Premier Skyline View Room, 2 Queen Beds","['Premier', 'Skyline', 'View', 'Room,', '2', '...",2,Queen,Premier,4,-1.0,2 queen bed can accommodate 4 people,NaN,NaN
1,1,15780037,"Premier Skyline View Room, King Bed","['Premier', 'Skyline', 'View', 'Room,', 'King'...",1,King,Premier,2,-1.0,no. of people should be 2,NaN,NaN
2,2,15780037,QUADRUPLE Accessible,"['Quadruple', 'Accessible', 'Quadruple Accessi...",2,NaN,Quadruple,4,-1.0,"Bed size cannot be single, if it accommadate f...",-1.0,bed size is blank
3,3,15780037,Room RUN OF HOUSE,"['Room', 'Run', 'Of', 'House', 'Room Run', 'Ru...",1,NaN,NaN,1,NaN,NaN,-1.0,bed size and room style blank
4,4,15780037,SUITE STANDARD,"['Suite', 'Standard', 'Suite Standard']",1,King,Suite,2,0.0,suites normaly with king/queen/double/twon bed...,NaN,NaN

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          100 non-null    int64
 1   Vervotech ID        100 non-null    int64
 2   HotelBeds RoomName  100 non-null    object
 3   ngrams              100 non-null    object
 4   bed_count           100 non-null    int64
 5   bed_size            95 non-null     object
 6   room_style          84 non-null     object
 7   no_of_people        100 non-null    int64
 8   Label               64 non-null     float64
 9   Remarks             64 non-null     object
 10  Label_level2        17 non-null     float64
 11  Remarks_level2      17 non-null     object
dtypes: float64(2), int64(4), object(6)
memory usage: 9.5+ KB

In [56]:
df['Label_level2'].unique()

array([nan, -1.])

In [57]:
# df = df.dropna(subset=['bed_size', 'room_style'])
# df['Label_level2'].unique()

In [58]:
df1 = df.dropna(subset=['bed_size'])
count = df1[df1['Label_level2'] == -1].shape[0]
print("Number of records in the DataFrame:", df1.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df1.shape[0])*100 )

df2 = df.dropna(subset=['room_style'])
count = df2[df2['Label_level2'] == -1].shape[0]
print("Number of records in the DataFrame:", df2.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df2.shape[0])*100 )

df3 = df.dropna(subset=['bed_size','room_style'])
count = df3[df3['Label_level2'] == -1].shape[0]
print("Number of records in the DataFrame:", df3.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df3.shape[0])*100 )

Number of records in the DataFrame: 95
12
Accuracy :  87.36842105263158
Number of records in the DataFrame: 84
1
Accuracy :  98.80952380952381
Number of records in the DataFrame: 83
0
Accuracy :  100.0

1

0

In [7]:
count = df[df['Label_level2'] == -1].shape[0]

In [8]:
count

0

In [9]:
100 -count

100

In [10]:
count_minus_one = df['Label'].value_counts().get(-1, 0)


print("-1 count:", count_minus_one)

-1 count: 42

In [11]:
count_minus_one = df['Label_level2'].value_counts().get(-1, 0)


print("-1 count:", count_minus_one)

-1 count: 0

In [10]:
100 -17

83

In [ ]:
# Move "Premium" key word from bed_size to room_style.
# Have null values in Room_style & bed_size

In [43]:
df = pd.read_csv("Nileka_test_set_Level_2.csv")

In [44]:
df

,Unnamed: 0,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,Remarks,Label2,Remarks2
0,100,15570173,DOUBLE Accessible,"['Double', 'Accessible', 'Double Accessible']",1,Double,Double,2,1,NaN,1,NaN
1,101,15570173,Room Accessible,"['Room', 'Accessible', 'Room Accessible']",1,NaN,NaN,1,1,NaN,?,NaN
2,102,15570173,Room CLUB,"['Room', 'Club', 'Room Club']",1,Queen,Club,2,-1,Club rooms have more benefits than standard rooms,0,How do we know its a queen bed?
3,103,15570173,DOUBLE CLUB,"['Double', 'Club', 'Double Club']",1,Double,Club,2,-1,Club rooms have more benefits than double rooms,1,NaN
4,104,15570173,DOUBLE CLUB KING BED,"['Double', 'Club', 'King', 'Bed', 'Double Club...",1,King,Club,2,-1,Club rooms have more benefits than double rooms,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,195,15570106,SUITE 2 BEDS,"['Suite', '2', 'Beds', 'Suite 2', '2 Beds', 'S...",2,King,Suite,4,1,NaN,0,King or single?
96,196,15570106,SUITE 2 DOUBLE BEDS,"['Suite', '2', 'Double', 'Beds', 'Suite 2', '2...",2,Double,Suite,4,0,Style = double suite? People = 4 since two dou...,1,NaN
97,197,15570106,SUITE 2 QUEEN BEDS NON SMOKING,"['Suite', '2', 'Queen', 'Beds', 'Non', 'Smokin...",2,Queen,Suite,4,1,NaN,1,NaN
98,198,16115140,DOUBLE QUEEN SIZE BED,"['Double', 'Queen', 'Size', 'Bed', 'Double Que...",1,Queen,Double,2,1,NaN,1,NaN
99,199,16039310,"1 King Bed, No Smoking","['1', 'King', 'Bed,', 'No', 'Smoking', '1 King...",1,King,NaN,2,1,NaN,?,People = 1

In [45]:
df['Label2'].unique()

array(['1', '?', '0', '-1', nan], dtype=object)

In [46]:
df1 = df.dropna(subset=['bed_size'])
count = df1[df1['Label2'] == -1].shape[0]
print("Number of records in the DataFrame:", df1.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df1.shape[0])*100 )

df2 = df.dropna(subset=['room_style'])
count = df2[df2['Label2'] == -1].shape[0]
print("Number of records in the DataFrame:", df2.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df2.shape[0])*100 )

df3 = df.dropna(subset=['bed_size','room_style'])
count = df3[df3['Label2'] == -1].shape[0]
print("Number of records in the DataFrame:", df3.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df3.shape[0])*100 )

Number of records in the DataFrame: 93
0
Accuracy :  100.0
Number of records in the DataFrame: 82
0
Accuracy :  100.0
Number of records in the DataFrame: 80
0
Accuracy :  100.0

In [76]:
count = df[df['Label2'] == '-1'].shape[0]

In [77]:
count

6

In [79]:
100-6

94

In [28]:
df = pd.read_csv("Nuwan_test_set_Level_2.csv")

In [29]:
df.head()

,Unnamed: 0,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,New Label,Remarks,Unnamed: 11
0,300,38380068,DOUBLE KING BED NON SMOKING,"['Double', 'King', 'Bed', 'Non', 'Smoking', 'D...",1,King,Double,2,1,NaN,NaN,NaN
1,301,38380068,DOUBLE Accessible KING SIZE BED,"['Double', 'Accessible', 'King', 'Size', 'Bed'...",1,King,Double,2,1,NaN,NaN,NaN
2,302,38380068,Room Accessible KING SIZE BED,"['Room', 'Accessible', 'King', 'Size', 'Bed', ...",1,King,NaN,2,1,-1.0,What are we going to do with blank room_style?,NaN
3,303,38380068,STANDARD ROOM,"['Standard', 'Room', 'Standard Room']",1,King,Standard,2,1,NaN,NaN,NaN
4,304,38380068,TWIN KING SIZE BED,"['Twin', 'King', 'Size', 'Bed', 'Twin King', '...",1,King,NaN,2,-1,NaN,2 people,NaN

In [30]:
df['Label'].unique()

array(['1', '-1', '0', '?'], dtype=object)

In [31]:
df['Label'][4]

'-1'

In [32]:
count = df[df['Label'] == '-1' ].shape[0]

In [33]:
count = df[(df['Label'] == '-1') | (df['Label'] == '0')].shape[0]

In [34]:
100 -count

45

In [42]:
df1 = df.dropna(subset=['bed_size'])
count = df1[df1['New Label'] == -1].shape[0]
print("Number of records in the DataFrame:", df1.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df1.shape[0])*100 )

df2 = df.dropna(subset=['room_style'])
count = df2[df2['New Label'] == -1].shape[0]
print("Number of records in the DataFrame:", df2.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df2.shape[0])*100 )

df3 = df.dropna(subset=['bed_size','room_style'])
count = df3[df3['New Label'] == -1].shape[0]
print("Number of records in the DataFrame:", df3.shape[0])
print(count)
print("Accuracy : ", 100 -(count/df3.shape[0])*100 )

Number of records in the DataFrame: 89
19
Accuracy :  78.65168539325843
Number of records in the DataFrame: 83
17
Accuracy :  79.51807228915663
Number of records in the DataFrame: 83
17
Accuracy :  79.51807228915663

In [ ]:
89

In [99]:
df = pd.read_csv("saumya_test_set_Updated.csv")

In [100]:
df

,Unnamed: 0,room_type,ngrams,bed_count,bed_size,room_style,Vevotech Naming,hotelRoomType,no_of_person,Unnamed: 9,Unnamed: 10,Label,Remarks
0,300,"1 King Bed, Nonsmoking","['1', 'King', 'Bed,', 'Nonsmoking', '1 King', ...",1,King,Standard,King Room,"1 King Bed, Nonsmoking",1,NaN,NaN,-1.0,no. of ppl should be 2
1,301,Room Standard,"['Room', 'Standard', 'Room Standard']",1,Single,Standard,King Room,Room Standard,1,NaN,NaN,0.0,NaN
2,302,"1 King Bed, No Smoking, Accessible Room","['1', 'King', 'Bed,', 'No', 'Smoking,', 'Acces...",1,King,Standard,"King Room, Accessible","1 King Bed, No Smoking, Accessible Room",1,NaN,NaN,-1.0,no. of ppl should be 2
3,303,Double Accessible King Size Bed,"['Double', 'Accessible', 'King', 'Size', 'Bed'...",1,King,Double,"King Room, Accessible",Double Accessible King Size Bed,2,NaN,NaN,0.0,NaN
4,304,"2 Queen Beds, No Smoking","['2', 'Queen', 'Beds,', 'No', 'Smoking', '2 Qu...",2,Queen,Standard,Room - 2 Queen,"2 Queen Beds, No Smoking",2,NaN,NaN,-1.0,2 queen beds can accommodate 4 ppl
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,395,Double Executive 2 Double Beds,"['Double', 'Executive', '2', 'Double', 'Beds',...",2,Single,Double,"Executive, 2 Double",Double Executive 2 Double Beds,2,NaN,NaN,0.0,NaN
96,396,1 King Bed Executive Nonsmoking,"['1', 'King', 'Bed', 'Executive', 'Nonsmoking'...",1,King,Standard,"Executive, King",1 King Bed Executive Nonsmoking,1,NaN,NaN,-1.0,no. of ppl should be 2
97,397,Quadruple Executive 2 Double Beds,"['Quadruple', 'Executive', '2', 'Double', 'Bed...",2,Single,Double,"Executive, Quadruple",Quadruple Executive 2 Double Beds,2,NaN,NaN,-1.0,2 Quadruple can accommodate 4 ppl
98,398,1 Kng Bed Leisure Nonsmoking,"['1', 'Kng', 'Bed', 'Leisure', 'Nonsmoking', '...",1,Single,Leisure,King Room,1 Kng Bed Leisure Nonsmoking,1,NaN,NaN,-1.0,no. of ppl should be 2
99,399,Double King Size Bed,"['Double', 'King', 'Size', 'Bed', 'Double King...",1,King,Double,King Room,Double King Size Bed,2,NaN,NaN,0.0,NaN

In [104]:
df['Label'][0]

-1.0

In [106]:
count = df[df['Label'] == -1 ].shape[0]

In [109]:
100 - 62

38