In [1]:
import pandas as pd
import numpy as np
import gensim
import re

In [2]:
# Load the pre-trained word2vec model
model_path = 'GoogleNews-vectors-negative300.bin'
model = gensim.models.KeyedVectors.load_word2vec_format(model_path, binary=True)

In [ ]:
# Define the list of words for bed sizes
# bed_size_key_words = ['Twin',  
#     'Queen', 
#     'King' ,
#     'California King',
#     'Twin XL' ,
#     'Full' ,
#     'Single' ,
#     'Sofa' ,
#     'Rollaway' ,
#     'Bunk' ,
#     'Murphy' ,
#     'Trundle' ,
#     'Daybed',
#     'Crib' , 'Pack' 
#     ,'Air Mattress', 
#     'Twin Beds', 
#     'Double Bed', 
#     'Queen Beds',
#     'Double Bed', 
#     'Queen Bed',                  
#     'King Beds' ,
#     'California King Beds',
#     'Twin XL Beds' ,
#     'Full Beds' ,
#     'Single Beds' ,
#     'Sofa Beds' ,
#     'Rollaway Beds' ,
#     'Bunk Beds' ,
#     'Murphy Beds' ,
#     'Trundle Beds' ,
#     'Daybed Beds',
#         'Crib Beds' , 'Pack Beds'                  
#  ]



# room_style_key_words = [
#     'Queen',
#     'Apartment',
#     'Standard',
#     'Suite',
#     'Deluxe',
#     'Double',
#     'Executive',
#     'Leisure',
#     'Club',
#     'Superior',
#     'Connecting',
#     'Accessible',
#     'Family',
#     'Pet-Friendly',
#     'Jacuzzi',
#     'Adjoining',
#     'Loft',
#     'Penthouse Suite',
#     'Standard Room',
#     'Suite Room',
#     'Deluxe Room',
#     'Executive Room',
#     'Club Room',
#     'Superior Room',
#     'Connecting Room',
#     'Accessible Room',
#     'Family Room',
#     'Pet-Friendly Room',
#     'Jacuzzi Room',
#     'Adjoining Room',
#     'Loft Room',
#     'Penthouse Suite Room'
    
# ]

In [3]:
bed_size_key_words = [ 
    'Queen', 
    'King' ,
    'California King',
    'Twin XL' ,
    'Full' ,
    'Single' ,
    'Twin', 
    'Sofa' ,
    'Rollaway' ,
    'Bunk' ,
    'Murphy' ,
    'Trundle' ,
    #'Premium',
    'Daybed',
    'Queens',
    'Crib' , 'Pack' 
    ,'Air Mattress', 
    'Twin Beds'

 ]



room_style_key_words = [
    'Standard',
    'Deluxe',
    'Joint',
    'Superior',
    'Studio',
    'Premium',
    'Dormitory',
    'Economy',
    'Connecting',
#     'Junior Suite ',
#     'Suite Club',
#     'Suite Premium',
#     'Suite Presidential',
#     'Studio Standard',
#     'Studio Delux',
#     'Studio Suite',
#     'Studio Superior',
    
    'Suite',
    'Apartment',
    'Premier',
    'Executive',
    'Cabana',
    'Club',
    'Villa',
    'Penthouse',
    'Leisure'
]

In [4]:
df = pd.read_csv("Hotelbeds_roomtype.csv")

In [5]:
# df = pd.read_csv("merged.csv")
# df = df.head(100)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vendorid              10000 non-null  object
 1   hotelcode             10000 non-null  int64
 2   roomcode              10000 non-null  object
 3   roomdescription       10000 non-null  object
 4   roomthumbnailimage    10000 non-null  object
 5   roomimage             10000 non-null  object
 6   languagecode          10000 non-null  object
 7   characteristic        10000 non-null  object
 8   vendorid.1            10000 non-null  object
 9   hotelcode.1           10000 non-null  int64
 10  ridecode              10000 non-null  object
 11  hotelname             10000 non-null  object
 12  hotelsummarytext      10000 non-null  object
 13  hoteldetailtext       10000 non-null  object
 14  imagethumbnailurl     10000 non-null  object
 15  imageurl              10000 non-null  object
 16  category              10000 non-null  object
 17  address               10000 non-null  object
 18  street1               10000 non-null  object
 19  street2               10000 non-null  object
 20  street3               10000 non-null  object
 21  city                  10000 non-null  object
 22  country               10000 non-null  object
 23  rezgcitycode          10000 non-null  object
 24  rezgcountrycode       10000 non-null  object
 25  vendorcitycode        10000 non-null  object
 26  vendorcountrycode     10000 non-null  object
 27  starrating            10000 non-null  object
 28  telephonenumber       10000 non-null  object
 29  faxnumber             10000 non-null  int64
 30  email                 10000 non-null  object
 31  zip                   10000 non-null  int64
 32  state                 10000 non-null  object
 33  yearbuilt             10000 non-null  object
 34  style                 10000 non-null  object
 35  locationid            10000 non-null  int64
 36  suppliernumber        10000 non-null  object
 37  latitude              10000 non-null  float64
 38  longitude             10000 non-null  float64
 39  extraarg1             0 non-null      float64
 40  extraarg2             0 non-null      float64
 41  uptodate              10000 non-null  object
 42  validimage            10000 non-null  object
 43  languagecode.1        10000 non-null  object
 44  typeofhotel           10000 non-null  object
 45  amenities             10000 non-null  object
 46  hotelfacilities       10000 non-null  object
 47  hotelimages           10000 non-null  object
 48  roomfacilities        0 non-null      float64
 49  roomimages            0 non-null      float64
 50  nearbyattractions     10000 non-null  object
 51  additionalinfo        10000 non-null  object
 52  suburbname            10000 non-null  object
 53  code                  10000 non-null  object
 54  type                  0 non-null      float64
 55  characteristic.1      10000 non-null  object
 56  maxpax                10000 non-null  int64
 57  minpax                10000 non-null  int64
 58  maxadults             10000 non-null  int64
 59  minadults             10000 non-null  int64
 60  maxchildren           10000 non-null  int64
 61  room_type             10000 non-null  object
 62  typedescription       10000 non-null  object
 63  characterdescription  10000 non-null  object
 64  language              10000 non-null  object
dtypes: float64(7), int64(10), object(48)
memory usage: 5.0+ MB

In [7]:
df['room_type__OLD'] = df['room_type']

In [8]:
df.head()

,vendorid,hotelcode,roomcode,roomdescription,roomthumbnailimage,roomimage,languagecode,characteristic,vendorid.1,hotelcode.1,...,maxpax,minpax,maxadults,minadults,maxchildren,room_type,typedescription,characterdescription,language,room_type__OLD
0,hotelbeds_v3,12788,BED.BK,Bed in dormitory BUNK BED,\N,\N,ENG,BK,hotelbeds_v3,12788,...,3,1,3,0,2,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,VILLA,1 BEDROOM-LUXURY-POOL-VILLA,ENG,VILLA 1 BEDROOM-LUXURY-POOL-VILLA
1,hotelbeds_v3,12788,BED.BK,Bed in dormitory BUNK BED,\N,\N,ENG,BK,hotelbeds_v3,12788,...,3,1,3,0,2,VILLA 1 BEDROOM-OCEAN FACING-POOL,VILLA,1 BEDROOM-OCEAN FACING-POOL,ENG,VILLA 1 BEDROOM-OCEAN FACING-POOL
2,hotelbeds_v3,12788,BED.BK,Bed in dormitory BUNK BED,\N,\N,ENG,BK,hotelbeds_v3,12788,...,3,1,3,0,2,VILLA 1 BEDROOM-OCEAN-POOL VIEW,VILLA,1 BEDROOM-OCEAN-POOL VIEW,ENG,VILLA 1 BEDROOM-OCEAN-POOL VIEW
3,hotelbeds_v3,12788,BED.BK,Bed in dormitory BUNK BED,\N,\N,ENG,BK,hotelbeds_v3,12788,...,3,1,3,0,2,VILLA 1 BEDROOM-PREMIER,VILLA,1 BEDROOM-PREMIER,ENG,VILLA 1 BEDROOM-PREMIER
4,hotelbeds_v3,12788,BED.BK,Bed in dormitory BUNK BED,\N,\N,ENG,BK,hotelbeds_v3,12788,...,4,1,3,0,3,VILLA 1 BEDROOM-POOL ROOM,VILLA,1 BEDROOM-POOL ROOM,ENG,VILLA 1 BEDROOM-POOL ROOM

In [9]:
df.columns

Index(['vendorid', 'hotelcode', 'roomcode', 'roomdescription',
       'roomthumbnailimage', 'roomimage', 'languagecode', 'characteristic',
       'vendorid.1', 'hotelcode.1', 'ridecode', 'hotelname',
       'hotelsummarytext', 'hoteldetailtext', 'imagethumbnailurl', 'imageurl',
       'category', 'address', 'street1', 'street2', 'street3', 'city',
       'country', 'rezgcitycode', 'rezgcountrycode', 'vendorcitycode',
       'vendorcountrycode', 'starrating', 'telephonenumber', 'faxnumber',
       'email', 'zip', 'state', 'yearbuilt', 'style', 'locationid',
       'suppliernumber', 'latitude', 'longitude', 'extraarg1', 'extraarg2',
       'uptodate', 'validimage', 'languagecode.1', 'typeofhotel', 'amenities',
       'hotelfacilities', 'hotelimages', 'roomfacilities', 'roomimages',
       'nearbyattractions', 'additionalinfo', 'suburbname', 'code', 'type',
       'characteristic.1', 'maxpax', 'minpax', 'maxadults', 'minadults',
       'maxchildren', 'room_type', 'typedescription', 'characterdescription',
       'language', 'room_type__OLD'],
      dtype='object')

In [10]:
df['room_type'][1]

'VILLA 1 BEDROOM-OCEAN FACING-POOL'

In [11]:
#df['room_type'] = df['HotelBeds RoomName']

In [12]:
# replacements = {"Two": "2", "Three": "3", "1":" 1 ", "2":" 2 ", "3":" 3 ", "-":" " ,"/":" / " }

# # replace values in the 'room_type' column using the dictionary
# df['room_type'] = df['room_type'].replace(replacements, regex=True)

In [13]:
df['room_type'] = df['room_type'].str.title()

In [14]:
df['room_type'][1]

'Villa 1 Bedroom-Ocean Facing-Pool'

In [15]:
# Function to convert numerical words to numeric values
def convert_numerical_strings(text):
    # Regular expression pattern to match numerical words
    pattern = r"(?<!\w)(One|Two|Three|Four|Five|Six|Seven|Eight|Nine)(?!\w)"
    
    def replace(match):
        # Mapping of numerical words to numeric values
        numbers = {"One": "1", "Two": "2", "Three": "3", "Four": "4", "Five": "5", "Six": "6", "Seven": "7", "Eight": "8", "Nine": "9"}
        return numbers[match.group(0)]
    
    return re.sub(pattern, replace, text)

# Apply the conversion function to the "room_type" column
df["room_type"] = df["room_type"].apply(convert_numerical_strings)

In [16]:
df['room_type'][1]

'Villa 1 Bedroom-Ocean Facing-Pool'

In [17]:
#df.to_csv("tst_tst_1.csv")

In [18]:
df.columns

Index(['vendorid', 'hotelcode', 'roomcode', 'roomdescription',
       'roomthumbnailimage', 'roomimage', 'languagecode', 'characteristic',
       'vendorid.1', 'hotelcode.1', 'ridecode', 'hotelname',
       'hotelsummarytext', 'hoteldetailtext', 'imagethumbnailurl', 'imageurl',
       'category', 'address', 'street1', 'street2', 'street3', 'city',
       'country', 'rezgcitycode', 'rezgcountrycode', 'vendorcitycode',
       'vendorcountrycode', 'starrating', 'telephonenumber', 'faxnumber',
       'email', 'zip', 'state', 'yearbuilt', 'style', 'locationid',
       'suppliernumber', 'latitude', 'longitude', 'extraarg1', 'extraarg2',
       'uptodate', 'validimage', 'languagecode.1', 'typeofhotel', 'amenities',
       'hotelfacilities', 'hotelimages', 'roomfacilities', 'roomimages',
       'nearbyattractions', 'additionalinfo', 'suburbname', 'code', 'type',
       'characteristic.1', 'maxpax', 'minpax', 'maxadults', 'minadults',
       'maxchildren', 'room_type', 'typedescription', 'characterdescription',
       'language', 'room_type__OLD'],
      dtype='object')

In [19]:
df = df[['hotelcode', 'roomcode', 'email', 'zip', 'state','characteristic','room_type', 'typedescription','room_type__OLD']]

In [20]:
df.head(4)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER

In [21]:
# Define a function to tokenize the room types and extract bigrams and trigrams
def get_ngrams(room_type):
    tokens = room_type.split()
    bigrams = [' '.join(tokens[i:i+2]) for i in range(len(tokens)-1)]
    trigrams = [' '.join(tokens[i:i+3]) for i in range(len(tokens)-2)]
    
    
    # Add special cases for new key words
    for i in range(len(tokens)-1):
        if tokens[i] == 'Suite' and tokens[i+1] in ['Club', 'Premium', 'Presidential']:
            bigrams.append(' '.join(tokens[i:i+2]))
    if tokens[0] == 'Studio' and tokens[1] in ['Standard', 'Deluxe', 'Suite']:
        bigrams.append(' '.join(tokens[:2]))
    
    
    return tokens + bigrams + trigrams


# Apply the get_ngrams function to the room types column
df['ngrams'] = df['room_type'].apply(get_ngrams)

In [22]:
df['ngrams'][0]

['Villa',
 '1',
 'Bedroom-Luxury-Pool-Villa',
 'Villa 1',
 '1 Bedroom-Luxury-Pool-Villa',
 'Villa 1 Bedroom-Luxury-Pool-Villa']

In [23]:
import spacy

nlp = spacy.load("en_core_web_sm")


def get_bed_count(trigrams):
    for trigram in trigrams:
        if "Bed" in trigram or "Beds" in trigram or "bed" in trigram or "beds" in trigram:
            doc = nlp(trigram)
            for token in doc:
                if token.is_digit:
                    return int(token.text)
    return 1

df["bed_count"] = df["ngrams"].apply(get_bed_count)

2023-05-30 13:23:40.885250: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-30 13:23:58.344627: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-05-30 13:23:58.353150: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-05-30 13:23:58.353174: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-05-30 13:24:04.230375: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-05-30 13:24:04.237774: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-05-30 13:24:04.237876: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ushan-Inspiron-5558): /proc/driver/nvidia/version does not exist

In [ ]:
df['room_type_1'] = df['room_type']

In [86]:
df.tail(2)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1
9998,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple No Air Conditioning,TRIPLE,TRIPLE NO AIR CONDITIONING,"[Triple, No, Air, Conditioning, Triple No, No ...",1,Triple No Air Conditioning
9999,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Queen Bed Non Smoking,TRIPLE,TRIPLE QUEEN BED NON SMOKING,"[Triple, Queen, Bed, Non, Smoking, Triple Quee...",1,Triple Queen Bed Non Smoking

In [87]:
import re

# loop through the rows of the dataframe
for index, row in df.iterrows():
    room_type = row['room_type']
    
    # extract the room style and bed size
    room_style = ''
    bed_size = ''
    
    if 'Double' in room_type:
        room_style = 'Double'
        bed_size = room_type.replace('Double', '').strip()
    elif 'Triple' in room_type:
        room_style = 'Triple'
        bed_size = room_type.replace('Triple', '').strip()
    elif 'Quadruple' in room_type:
        room_style = 'Quadruple'
        bed_size = room_type.replace('Quadruple', '').strip()
    else:
        room_style = ''
        bed_size = room_type
        
    
    # update the row with the new information
    df.at[index, 'room_style_1'] = room_style
    df.at[index, 'room_type_1'] = bed_size

In [88]:
df['ngrams'][0]

['Villa',
 '1',
 'Bedroom-Luxury-Pool-Villa',
 'Villa 1',
 '1 Bedroom-Luxury-Pool-Villa',
 'Villa 1 Bedroom-Luxury-Pool-Villa']

In [89]:
bed_size_key_words

['Queen',
 'King',
 'California King',
 'Twin XL',
 'Full',
 'Single',
 'Twin',
 'Sofa',
 'Rollaway',
 'Bunk',
 'Murphy',
 'Trundle',
 'Daybed',
 'Queens',
 'Crib',
 'Pack',
 'Air Mattress',
 'Twin Beds']

In [90]:
import pandas as pd
import re

# Define a regular expression to match trigrams that end with "bed" or "beds"
regex = re.compile(r'\b\w+\s+\w+\s+(beds?|sofa bed)\b')

# Define a function to find the best matching bed size keyword for a given ngram
def get_best_match(ngram):
    matches = []
    for bed_size in bed_size_key_words:
        if bed_size in ngram:
            matches.append(bed_size)
    if len(matches) == 0:
        return None
    elif len(matches) == 1:
        return matches[0]
    else:
        # If there are multiple matches, return the longest match
        return max(matches, key=len)

# Find the best matching bed size keyword for each ngram and add it to a new column
df['bed_size'] = df['ngrams'].apply(lambda x: get_best_match(x))

In [91]:
df.head(100)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,None
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,None
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,None
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,None
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Superior 1 Bedroom,VILLA,VILLA SUPERIOR ONE BEDROOM,"[Villa, Superior, 1, Bedroom, Villa Superior, ...",1,Villa Superior 1 Bedroom,,None
96,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Sea View 1 Bedroom,VILLA,VILLA SEA VIEW ONE BEDROOM,"[Villa, Sea, View, 1, Bedroom, Villa Sea, Sea ...",1,Villa Sea View 1 Bedroom,,None
97,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Pool View 1 Bedroom,VILLA,VILLA POOL VIEW ONE BEDROOM,"[Villa, Pool, View, 1, Bedroom, Villa Pool, Po...",1,Villa Pool View 1 Bedroom,,None
98,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Bedrooms,VILLA,VILLA TWO BEDROOMS,"[Villa, 2, Bedrooms, Villa 2, 2 Bedrooms, Vill...",2,Villa 2 Bedrooms,,None
99,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Bedrooms,VILLA,VILLA TWO BEDROOMS,"[Villa, 2, Bedrooms, Villa 2, 2 Bedrooms, Vill...",2,Villa 2 Bedrooms,,None

In [92]:
num_null = df['bed_size'].isnull().sum()
num_null

4745

In [93]:

# Loop through each row of the DataFrame
for index, row in df.iterrows():
    bed_size = row['bed_size']
    room_type = row['room_type']
    
    # Check if the bed_size is not None
    if bed_size is not None:
        # Remove the bed_size keyword from the room_type string
        room_type = room_type.replace(bed_size, '').strip()
        room_type = room_type.replace('beds', '').strip()
        
        # Update the room_type column in the DataFrame
        df.at[index, 'room_type'] = room_type

In [94]:
df.head(2)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,None
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,None

In [95]:

# Define a function to find the best matching key word for a list of ngrams
def get_best_match(ngrams, key_words):
    best_match = ''
    best_similarity = -1
    for ngram in ngrams:
        if ngram in model:
            for key_word in key_words:
                # Split key word into individual words
                key_word_tokens = key_word.split()
                # Check if all words in key word are present in ngram
                if all(token in ngram.split() for token in key_word_tokens):
                    similarity = model.similarity(ngram, key_word)
                    if similarity > best_similarity:
                        best_similarity = similarity
                        best_match = key_word
    return best_match



# Apply the get_best_match function to the ngrams column for bed sizes
#df['bed_size'] = df['ngrams'].apply(lambda x: get_best_match(x, bed_size_key_words))

# Apply the get_best_match function to the ngrams column for room styles
df['room_style'] = df['ngrams'].apply(lambda x: get_best_match(x, room_style_key_words))

In [96]:
df.tail(5)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style
9995,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Master-Ocean View,TRIPLE,TRIPLE MASTER-OCEAN VIEW,"[Triple, Master-Ocean, View, Triple Master-Oce...",1,Master-Ocean View,Triple,None,
9996,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Master-Superior,TRIPLE,TRIPLE MASTER-SUPERIOR,"[Triple, Master-Superior, Triple Master-Superior]",1,Master-Superior,Triple,None,
9997,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Nature,TRIPLE,TRIPLE NATURE,"[Triple, Nature, Triple Nature]",1,Nature,Triple,None,
9998,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple No Air Conditioning,TRIPLE,TRIPLE NO AIR CONDITIONING,"[Triple, No, Air, Conditioning, Triple No, No ...",1,No Air Conditioning,Triple,None,
9999,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Bed Non Smoking,TRIPLE,TRIPLE QUEEN BED NON SMOKING,"[Triple, Queen, Bed, Non, Smoking, Triple Quee...",1,Queen Bed Non Smoking,Triple,Queen,

In [97]:
#df['room_type_1'] = df['room_type']

In [98]:
# df['Vevotech Naming'] = df['Vervotech MappedStandardName']
# df['hotelRoomType'] = df['room_type']

In [99]:
df.head(100)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,None,Villa
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,None,Villa
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,None,Villa
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,None,Villa
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,None,Villa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Superior 1 Bedroom,VILLA,VILLA SUPERIOR ONE BEDROOM,"[Villa, Superior, 1, Bedroom, Villa Superior, ...",1,Villa Superior 1 Bedroom,,None,Villa
96,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Sea View 1 Bedroom,VILLA,VILLA SEA VIEW ONE BEDROOM,"[Villa, Sea, View, 1, Bedroom, Villa Sea, Sea ...",1,Villa Sea View 1 Bedroom,,None,Villa
97,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Pool View 1 Bedroom,VILLA,VILLA POOL VIEW ONE BEDROOM,"[Villa, Pool, View, 1, Bedroom, Villa Pool, Po...",1,Villa Pool View 1 Bedroom,,None,Villa
98,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Bedrooms,VILLA,VILLA TWO BEDROOMS,"[Villa, 2, Bedrooms, Villa 2, 2 Bedrooms, Vill...",2,Villa 2 Bedrooms,,None,Villa
99,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Bedrooms,VILLA,VILLA TWO BEDROOMS,"[Villa, 2, Bedrooms, Villa 2, 2 Bedrooms, Vill...",2,Villa 2 Bedrooms,,None,Villa

In [100]:
# fill empty values in the "bed_type" column with corresponding values in "bed_type_1"
#df['room_style'] = df.apply(lambda x: x['room_style_1'] if x['room_style'] == '' else x['room_style'], axis=1)

In [101]:
df.head(5)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,None,Villa
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,None,Villa
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,None,Villa
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,None,Villa
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,None,Villa

In [102]:

# add a new column "no_of_person" with values from "bed_count" column
#df['no_of_person'] = df['bed_count']

df.loc[df['room_style_1'] == 'Double', 'no_of_person'] = 2
df.loc[df['room_style_1'] == 'Triple', 'no_of_person'] = 3
df.loc[df['room_style_1'] == 'Quadruple', 'no_of_person'] = 4

In [103]:
# update the no_of_people column where room_style is king, queen or premium
df.loc[df['bed_size'].isin(['King', 'Queen', 'premium','Premium',  'Full', 'Sofa', 'Bunk']), 'no_of_people'] = df['bed_count'] * 2

# update the no_of_people column for other room_style values
df.loc[~df['bed_size'].isin(['King', 'Queen', 'premium','Premium',  'Full', 'Sofa', 'Bunk']), 'no_of_people'] = df['bed_count'] * 1

In [104]:
df.head(15)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,None,Villa,NaN,1.0
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,None,Villa,NaN,1.0
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,None,Villa,NaN,1.0
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,None,Villa,NaN,1.0
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,None,Villa,NaN,1.0
5,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool-Villa-Suite,VILLA,VILLA 1 BEDROOM-POOL-VILLA-SUITE,"[Villa, 1, Bedroom-Pool-Villa-Suite, Villa 1, ...",1,Villa 1 Bedroom-Pool-Villa-Suite,,None,Villa,NaN,1.0
6,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool-Seaview-Villa,VILLA,VILLA 1 BEDROOM-POOL-SEAVIEW-VILLA,"[Villa, 1, Bedroom-Pool-Seaview-Villa, Villa 1...",1,Villa 1 Bedroom-Pool-Seaview-Villa,,None,Villa,NaN,1.0
7,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room-Villa,VILLA,VILLA 1 BEDROOM-POOL ROOM-VILLA,"[Villa, 1, Bedroom-Pool, Room-Villa, Villa 1, ...",1,Villa 1 Bedroom-Pool Room-Villa,,None,Villa,NaN,1.0
8,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Villa-Private Pool,VILLA,VILLA 1 BEDROOM-VILLA-PRIVATE POOL,"[Villa, 1, Bedroom-Villa-Private, Pool, Villa ...",1,Villa 1 Bedroom-Villa-Private Pool,,None,Villa,NaN,1.0
9,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Residence,VILLA,VILLA 1 BEDROOM-RESIDENCE,"[Villa, 1, Bedroom-Residence, Villa 1, 1 Bedro...",1,Villa 1 Bedroom-Residence,,None,Villa,NaN,1.0
10,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Superior 1 Bedroom,VILLA,VILLA SUPERIOR 1 BEDROOM,"[Villa, Superior, 1, Bedroom, Villa Superior, ...",1,Villa Superior 1 Bedroom,,None,Villa,NaN,1.0
11,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Suite,VILLA,VILLA 1 BEDROOM-SUITE,"[Villa, 1, Bedroom-Suite, Villa 1, 1 Bedroom-S...",1,Villa 1 Bedroom-Suite,,None,Villa,NaN,1.0
12,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Villa,VILLA,VILLA 1 BEDROOM-VILLA,"[Villa, 1, Bedroom-Villa, Villa 1, 1 Bedroom-V...",1,Villa 1 Bedroom-Villa,,None,Villa,NaN,1.0
13,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Bedrooms,VILLA,VILLA 2 BEDROOMS,"[Villa, 2, Bedrooms, Villa 2, 2 Bedrooms, Vill...",2,Villa 2 Bedrooms,,None,Villa,NaN,2.0
14,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 2 Beds,VILLA,VILLA TWO BEDS,"[Villa, 2, Beds, Villa 2, 2 Beds, Villa 2 Beds]",2,Villa 2 Beds,,None,Villa,NaN,2.0

In [105]:
df['bed_size'].unique()

array([None, 'King', 'Twin', 'Queen', 'Sofa', 'Bunk', 'Twin Beds',
       'Single', 'Full'], dtype=object)

In [106]:
# replace blank values in room_style column with room_style_1 values
df.loc[df['room_style'] == '', 'room_style'] = df.loc[df['room_style'] == '', 'room_style_1']

In [107]:
# find the maximum value between no_of_person and no_of_people columns
df['no_of_people'] = df[['no_of_person', 'no_of_people']].max(axis=1)

In [108]:
# replace bed_count with 2 where no_of_people is 4 and bed_count is 1
df.loc[(df['no_of_people'] == 4) & (df['bed_count'] == 1), 'bed_count'] = 2

In [109]:
# replace null values in bed_size column with room_style_1 values
df.loc[(df['bed_size'].isnull()) & (df['room_style_1'].isin(['Double', 'Triple'])), 'bed_size'] = df['room_style_1']

In [110]:
# replace null values in bed_size column with 'King' if room_style column has any of the specified values
df.loc[(df['bed_size'].isnull()) & (df['room_style'].isin(['Apartment', 'Suite', 'Leisure', 'Standard', 'Executive', 'Economy', 'Premier', 'Superior', 'Studio', 'Villa', 'Penthouse'])), 'bed_size'] = 'King'

df.loc[(df['bed_size'].isnull()) & (df['room_style'].isin(['Deluxe', 'Club'])), 'bed_size'] = 'Queen'

df.loc[(df['bed_size'].isnull()) & (df['room_style'].isin(['Dormitory' ])), 'bed_size'] = 'Single'

In [111]:
# update the 'no_of_people' column based on the condition
df.loc[(df['no_of_people']/df['bed_count'] == 1) & (df['bed_size'].isin(['King', 'Queen','Queens','Twin', 'Double'])), 'no_of_people'] = df['bed_count'] * 2

In [112]:
df['bed_size'].unique()

array(['King', 'Double', 'Twin', 'Queen', 'Sofa', 'Bunk', 'Twin Beds',
       'Single', 'Triple', None, 'Full'], dtype=object)

In [113]:
# df1 = df[(df['bed_count'] == 1)]
# df1

In [114]:
df1 = df[(df['room_style'] == 'Penthouse') & (df['bed_size'].isnull())]
df1

Empty DataFrame
Columns: [hotelcode, roomcode, email, zip, state, characteristic, room_type, typedescription, room_type__OLD, ngrams, bed_count, room_type_1, room_style_1, bed_size, room_style, no_of_person, no_of_people]
Index: []

In [115]:
(df['no_of_people'][110] /df['bed_count'][110])== 1

False

In [116]:
df1 = df[(df['bed_size'] == 'Twin') & (df['bed_count'] == 2) ]
df1

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
2274,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Beds,TWIN,TWIN TWO BEDS,"[Twin, 2, Beds, Twin 2, 2 Beds, Twin 2 Beds]",2,Twin 2 Beds,,Twin,,NaN,4.0
2275,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Deluxe 2 Beds,TWIN,TWIN DELUXE TWO BEDS,"[Twin, Deluxe, 2, Beds, Twin Deluxe, Deluxe 2,...",2,Twin Deluxe 2 Beds,,Twin,Deluxe,NaN,4.0
2279,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Double Beds-Accessible,TWIN,TWIN 2 DOUBLE BEDS-ACCESSIBLE,"[Twin, 2, Double, Beds-Accessible, Twin 2, 2 D...",2,Twin 2 Beds-Accessible,Double,Twin,Double,2.0,4.0
2280,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Double Beds,TWIN,TWIN TWO DOUBLE BEDS,"[Twin, 2, Double, Beds, Twin 2, 2 Double, Doub...",2,Twin 2 Beds,Double,Twin,Double,2.0,4.0
2281,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Double Beds Non Smoking,TWIN,TWIN TWO DOUBLE BEDS NON SMOKING,"[Twin, 2, Double, Beds, Non, Smoking, Twin 2, ...",2,Twin 2 Beds Non Smoking,Double,Twin,Double,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7824,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Deluxe 2 Beds,TWIN,TWIN DELUXE TWO BEDS,"[Twin, Deluxe, 2, Beds, Twin Deluxe, Deluxe 2,...",2,Twin Deluxe 2 Beds,,Twin,Deluxe,NaN,4.0
7843,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Beds,TWIN,TWIN TWO BEDS,"[Twin, 2, Beds, Twin 2, 2 Beds, Twin 2 Beds]",2,Twin 2 Beds,,Twin,,NaN,4.0
7844,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Double Beds,TWIN,TWIN TWO DOUBLE BEDS,"[Twin, 2, Double, Beds, Twin 2, 2 Double, Doub...",2,Twin 2 Beds,Double,Twin,Double,2.0,4.0
7845,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Double Beds,TWIN,TWIN TWO DOUBLE BEDS,"[Twin, 2, Double, Beds, Twin 2, 2 Double, Doub...",2,Twin 2 Beds,Double,Twin,Double,2.0,4.0
7859,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,2 Beds,TWIN,TWIN TWO BEDS,"[Twin, 2, Beds, Twin 2, 2 Beds, Twin 2 Beds]",2,Twin 2 Beds,,Twin,,NaN,4.0

In [117]:
# group by bed_count, bed_size, room_style and get the count of records
grouped = df.groupby(['bed_count', 'room_style_1', 'bed_size', 'no_of_people']).size().reset_index(name='count')

grouped

    bed_count room_style_1   bed_size  no_of_people  count
0           1                    Bunk           2.0      4
1           1                    King           2.0   2111
2           1                   Queen           2.0     77
3           1                  Single           1.0     14
4           1                    Twin           2.0   3904
5           1       Double     Double           2.0     39
6           1       Double       Full           2.0      1
7           1       Double       King           2.0      2
8           1       Double     Single           2.0      7
9           1       Double       Sofa           2.0      2
10          1       Double       Twin           2.0     33
11          1       Triple       Bunk           3.0      5
12          1       Triple       Full           3.0      2
13          1       Triple       King           3.0    136
14          1       Triple      Queen           3.0     30
15          1       Triple     Single           3.0      4
16          1       Triple       Sofa           3.0      6
17          1       Triple     Triple           3.0   1648
18          1       Triple       Twin           3.0      2
19          2                    King           4.0    391
20          2                   Queen           4.0    118
21          2                  Single           2.0     31
22          2                    Sofa           4.0      2
23          2                    Twin           4.0    320
24          2               Twin Beds           2.0      1
25          2       Double     Double           4.0     80
26          2       Double      Queen           4.0      1
27          2       Double       Sofa           4.0      1
28          2       Double       Twin           4.0    131
29          2       Triple       King           4.0      2
30          2       Triple      Queen           4.0     57
31          2       Triple     Single           3.0      6
32          2       Triple     Triple           3.0    166
33          3                    King           6.0    208
34          3                    Twin           6.0    113
35          3       Triple       Bunk           6.0      1
36          3       Triple      Queen           6.0      2
37          3       Triple     Triple           3.0     75
38          4                    King           8.0     82
39          4                    Twin           8.0     30
40          4       Triple     Triple           4.0     14
41          5                    King          10.0     31
42          5                    Twin          10.0      3
43          5       Triple     Triple           5.0      2
44          6                    King          12.0     12
45          6                    Twin          12.0      7
46          6       Triple     Triple           6.0      3
47          7                    King          14.0      6
48          8                    King          16.0      5
49          8                    Twin          16.0      9
50          8       Triple     Triple           8.0      3
51          9                    King          18.0      1
52         10                    Twin          20.0      6
53         12                    Twin          24.0      1

In [118]:
grouped.head(25)

    bed_count room_style_1   bed_size  no_of_people  count
0           1                    Bunk           2.0      4
1           1                    King           2.0   2111
2           1                   Queen           2.0     77
3           1                  Single           1.0     14
4           1                    Twin           2.0   3904
5           1       Double     Double           2.0     39
6           1       Double       Full           2.0      1
7           1       Double       King           2.0      2
8           1       Double     Single           2.0      7
9           1       Double       Sofa           2.0      2
10          1       Double       Twin           2.0     33
11          1       Triple       Bunk           3.0      5
12          1       Triple       Full           3.0      2
13          1       Triple       King           3.0    136
14          1       Triple      Queen           3.0     30
15          1       Triple     Single           3.0      4
16          1       Triple       Sofa           3.0      6
17          1       Triple     Triple           3.0   1648
18          1       Triple       Twin           3.0      2
19          2                    King           4.0    391
20          2                   Queen           4.0    118
21          2                  Single           2.0     31
22          2                    Sofa           4.0      2
23          2                    Twin           4.0    320
24          2               Twin Beds           2.0      1

In [119]:
df.head(405)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,King,Villa,NaN,2.0
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,King,Villa,NaN,2.0
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,King,Villa,NaN,2.0
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,King,Villa,NaN,2.0
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,King,Villa,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Sea View Pool View,VILLA,VILLA SEA VIEW POOL VIEW,"[Villa, Sea, View, Pool, View, Villa Sea, Sea ...",1,Villa Sea View Pool View,,King,Villa,NaN,2.0
401,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Mountain View,VILLA,VILLA MOUNTAIN VIEW,"[Villa, Mountain, View, Villa Mountain, Mounta...",1,Villa Mountain View,,King,Villa,NaN,2.0
402,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Pool View,VILLA,VILLA POOL VIEW,"[Villa, Pool, View, Villa Pool, Pool View, Vil...",1,Villa Pool View,,King,Villa,NaN,2.0
403,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Pool View,VILLA,VILLA POOL VIEW,"[Villa, Pool, View, Villa Pool, Pool View, Vil...",1,Villa Pool View,,King,Villa,NaN,2.0
404,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Pool View,VILLA,VILLA POOL VIEW,"[Villa, Pool, View, Villa Pool, Pool View, Vil...",1,Villa Pool View,,King,Villa,NaN,2.0

In [120]:
df['room_style_1'][1]

''

In [121]:
empty_values_count = df['room_style'].str.strip().eq('').sum()
empty_values_count

3463

In [122]:
df1 = df[(df['room_style_1'] == "Triple") & df['bed_count'] == 1]
df1

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
6599,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple,TWIN,TWIN TRIPLE,"[Twin, Triple, Twin Triple]",1,Twin,Triple,Twin,Triple,3.0,3.0
6600,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple-Deluxe,TWIN,TWIN TRIPLE-DELUXE,"[Twin, Triple-Deluxe, Twin Triple-Deluxe]",1,Twin -Deluxe,Triple,Twin,Triple,3.0,3.0
7168,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Garden-Terrace Room,TRIPLE,TRIPLE GARDEN-TERRACE ROOM,"[Triple, Garden-Terrace, Room, Triple Garden-T...",1,Garden-Terrace Room,Triple,Triple,Triple,3.0,3.0
7169,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Ocean View Junior Suite,TRIPLE,TRIPLE OCEAN VIEW JUNIOR SUITE,"[Triple, Ocean, View, Junior, Suite, Triple Oc...",1,Ocean View Junior Suite,Triple,Triple,Triple,3.0,3.0
7170,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Kitchen,TRIPLE,TRIPLE KITCHEN,"[Triple, Kitchen, Triple Kitchen]",1,Kitchen,Triple,Triple,Triple,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Master-Ocean View,TRIPLE,TRIPLE MASTER-OCEAN VIEW,"[Triple, Master-Ocean, View, Triple Master-Oce...",1,Master-Ocean View,Triple,Triple,Triple,3.0,3.0
9996,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Master-Superior,TRIPLE,TRIPLE MASTER-SUPERIOR,"[Triple, Master-Superior, Triple Master-Superior]",1,Master-Superior,Triple,Triple,Triple,3.0,3.0
9997,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Nature,TRIPLE,TRIPLE NATURE,"[Triple, Nature, Triple Nature]",1,Nature,Triple,Triple,Triple,3.0,3.0
9998,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple No Air Conditioning,TRIPLE,TRIPLE NO AIR CONDITIONING,"[Triple, No, Air, Conditioning, Triple No, No ...",1,No Air Conditioning,Triple,Triple,Triple,3.0,3.0
9999,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Triple Bed Non Smoking,TRIPLE,TRIPLE QUEEN BED NON SMOKING,"[Triple, Queen, Bed, Non, Smoking, Triple Quee...",1,Queen Bed Non Smoking,Triple,Queen,Triple,3.0,3.0

In [123]:
df.head(200)

,hotelcode,roomcode,email,zip,state,characteristic,room_type,typedescription,room_type__OLD,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
0,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Luxury-Pool-Villa,VILLA,VILLA 1 BEDROOM-LUXURY-POOL-VILLA,"[Villa, 1, Bedroom-Luxury-Pool-Villa, Villa 1,...",1,Villa 1 Bedroom-Luxury-Pool-Villa,,King,Villa,NaN,2.0
1,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean Facing-Pool,VILLA,VILLA 1 BEDROOM-OCEAN FACING-POOL,"[Villa, 1, Bedroom-Ocean, Facing-Pool, Villa 1...",1,Villa 1 Bedroom-Ocean Facing-Pool,,King,Villa,NaN,2.0
2,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Ocean-Pool View,VILLA,VILLA 1 BEDROOM-OCEAN-POOL VIEW,"[Villa, 1, Bedroom-Ocean-Pool, View, Villa 1, ...",1,Villa 1 Bedroom-Ocean-Pool View,,King,Villa,NaN,2.0
3,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Premier,VILLA,VILLA 1 BEDROOM-PREMIER,"[Villa, 1, Bedroom-Premier, Villa 1, 1 Bedroom...",1,Villa 1 Bedroom-Premier,,King,Villa,NaN,2.0
4,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa 1 Bedroom-Pool Room,VILLA,VILLA 1 BEDROOM-POOL ROOM,"[Villa, 1, Bedroom-Pool, Room, Villa 1, 1 Bedr...",1,Villa 1 Bedroom-Pool Room,,King,Villa,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Deluxe Premier,VILLA,VILLA DELUXE PREMIER,"[Villa, Deluxe, Premier, Villa Deluxe, Deluxe ...",1,Villa Deluxe Premier,,King,Villa,NaN,2.0
196,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Premium-Deluxe-Pool-Villa,VILLA,VILLA PREMIUM-DELUXE-POOL-VILLA,"[Villa, Premium-Deluxe-Pool-Villa, Villa Premi...",1,Villa Premium-Deluxe-Pool-Villa,,King,Villa,NaN,2.0
197,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Deluxe-Pool,VILLA,VILLA DELUXE-POOL,"[Villa, Deluxe-Pool, Villa Deluxe-Pool]",1,Villa Deluxe-Pool,,King,Villa,NaN,2.0
198,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Deluxe-Pool-Villa,VILLA,VILLA DELUXE-POOL-VILLA,"[Villa, Deluxe-Pool-Villa, Villa Deluxe-Pool-V...",1,Villa Deluxe-Pool-Villa,,King,Villa,NaN,2.0
199,12788,BED.BK,gnlvresv@goldennugget.com,89101,\N,BK,Villa Deluxe With Private Pool,VILLA,VILLA DELUXE WITH PRIVATE POOL,"[Villa, Deluxe, With, Private, Pool, Villa Del...",1,Villa Deluxe With Private Pool,,King,Villa,NaN,2.0

In [124]:
# df.loc[df['room_style'] == '', 'room_style'] = 'Standard'
# df.loc[df['bed_size'] == '', 'bed_size'] = 'Single'

In [125]:
df.to_csv("Hotelbeds_roomtype_Algo_results.csv")

In [ ]:
from pivottablejs import pivot_ui
pivot_ui(df)

In [3]:
#df = pd.read_csv("test_5.csv")

In [95]:
df.head(5)

,Vervotech ID,SupplierHotelId,SupplierName,GroupId,HotelBeds RoomCode,HotelBeds RoomName,Vervotech MappedStandardName,room_type,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people
0,15111741,782331,HotelBeds,15111741-1,APT.KG-PE,APARTMENT PREMIER KING BED,Apartment Premier,Apartment Premier Bed,"[Apartment, Premier, King, Bed, Apartment Prem...",1,Apartment Premier King Bed,,King,Apartment,NaN,2.0
1,15111788,782334,HotelBeds,15111788-1,APT.2K,APARTMENT 2 KING BEDS,Apartment,Apartment 2 Beds,"[Apartment, 2, King, Beds, Apartment 2, 2 King...",2,Apartment 2 King Beds,,King,Apartment,NaN,4.0
2,15131097,782325,HotelBeds,15131097-1,APT.KG,APARTMENT KING SIZE BED,Apartment,Apartment Size Bed,"[Apartment, King, Size, Bed, Apartment King, K...",1,Apartment King Size Bed,,King,Apartment,NaN,2.0
3,15294880,766775,HotelBeds,15294880-1,DBL.QN,DOUBLE QUEEN SIZE BED,Queen Room,Double Size Bed,"[Double, Queen, Size, Bed, Double Queen, Queen...",1,Queen Size Bed,Double,Queen,Double,2.0,2.0
4,15294880,766775,HotelBeds,15294880-2,SUI.KG-1,SUITE KING SIZE BED,Suite,Suite Size Bed,"[Suite, King, Size, Bed, Suite King, King Size...",1,Suite King Size Bed,,King,Suite,NaN,2.0

In [216]:
df1 = pd.read_csv("Niranjani_test_set.csv")
df2 = pd.read_csv("Nileka_test_set.csv")
df3 = pd.read_csv("saumya_test_set_Updated.csv")
df4 = pd.read_csv("Nuwan_test_set.csv")

In [217]:
merged_df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)
merged_df = merged_df.drop(['Unnamed: 11','Unnamed: 9','Unnamed: 10'], axis=1)
df1 = merged_df

# Merge the dataframes based on the index of df and the "Unnamed: 0" column of df1
merged_df = pd.merge(df, df1[['Unnamed: 0', 'Label', 'Remarks']], left_index=True, right_on='Unnamed: 0')

In [218]:
merged_df

,Vervotech ID,SupplierHotelId,SupplierName,GroupId,HotelBeds RoomCode,HotelBeds RoomName,Vervotech MappedStandardName,room_type,ngrams,bed_count,room_type_1,room_style_1,bed_size,room_style,no_of_person,no_of_people,Unnamed: 0,Label,Remarks
0,15780037,145605,HotelBeds,15780037-13,DBL.PE,"Premier Skyline View Room, 2 Queen Beds","Premier, 2 Queen, Skyline View","Premier Skyline View Room, 2 Beds","[Premier, Skyline, View, Room,, 2, Queen, Beds...",2,"Premier Skyline View Room, 2 Queen Beds",,Queen,Premier,NaN,4.0,100,-1.0,2 queen bed can accommodate 4 people
1,15780037,145605,HotelBeds,15780037-14,DBL.KG-PE,"Premier Skyline View Room, King Bed","Premier, King, Skyline View","Premier Skyline View Room, Bed","[Premier, Skyline, View, Room,, King, Bed, Pre...",1,"Premier Skyline View Room, King Bed",,King,Premier,NaN,2.0,101,-1.0,no. of people should be 2
2,15780037,145605,HotelBeds,15780037-15,QUA.H6,QUADRUPLE Accessible,"Quadruple Room, Accessible",Quadruple Accessible,"[Quadruple, Accessible, Quadruple Accessible]",2,Accessible,Quadruple,None,Quadruple,4.0,4.0,102,-1.0,"Bed size cannot be single, if it accommadate f..."
3,15780037,145605,HotelBeds,15780037-16,ROO.RO,Room RUN OF HOUSE,Run Of House,Room Run Of House,"[Room, Run, Of, House, Room Run, Run Of, Of Ho...",1,Room Run Of House,,None,,NaN,1.0,103,NaN,NaN
4,15780037,145605,HotelBeds,15780037-17,SUI.ST,SUITE STANDARD,Suite,Suite Standard,"[Suite, Standard, Suite Standard]",1,Suite Standard,,King,Suite,NaN,2.0,104,0.0,suites normaly with king/queen/double/twon bed...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,38751099,13046,HotelBeds,38751099-60,SUI.SU,SUITE SUPERIOR,Suite Superior,Suite Superior,"[Suite, Superior, Suite Superior]",1,Suite Superior,,King,Suite,NaN,2.0,495,0,-same-
396,38751099,13046,HotelBeds,38751099-60,SUI.2D-SU,SUITE SUPERIOR 2 DOUBLE BEDS,Suite Superior,Suite Superior 2 Double Beds,"[Suite, Superior, 2, Double, Beds, Suite Super...",2,Suite Superior 2 Beds,Double,Double,Suite,2.0,4.0,496,0,-same-
397,38751099,13046,HotelBeds,38751099-61,SUI.B1,1-Bedroom Suite,"Suite, 1 Bedroom",1 Bedroom Suite,"[1, Bedroom, Suite, 1 Bedroom, Bedroom Suite, ...",1,1 Bedroom Suite,,King,Suite,NaN,2.0,497,0,does the sweet have a bedroom
398,38751099,13046,HotelBeds,38751099-61,SUI.B1-3,SUITE 1 BEDROOM,"Suite, 1 Bedroom",Suite 1 Bedroom,"[Suite, 1, Bedroom, Suite 1, 1 Bedroom, Suite ...",1,Suite 1 Bedroom,,King,Suite,NaN,2.0,498,0,suite have a bedroom
399,38751099,13046,HotelBeds,38751099-61,SUI.B1-KG,SUITE KING BED 1 BEDROOM,"Suite, 1 Bedroom",Suite Bed 1 Bedroom,"[Suite, King, Bed, 1, Bedroom, Suite King, Kin...",1,Suite King Bed 1 Bedroom,,King,Suite,NaN,2.0,499,0,-same-

In [219]:
merged_df = merged_df.drop(['SupplierHotelId','SupplierName','GroupId' ,'HotelBeds RoomCode','room_type','Vervotech MappedStandardName', 'room_type_1','room_style_1','no_of_person','Unnamed: 0'], axis=1)

In [220]:
merged_df

,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,Remarks
0,15780037,"Premier Skyline View Room, 2 Queen Beds","[Premier, Skyline, View, Room,, 2, Queen, Beds...",2,Queen,Premier,4.0,-1.0,2 queen bed can accommodate 4 people
1,15780037,"Premier Skyline View Room, King Bed","[Premier, Skyline, View, Room,, King, Bed, Pre...",1,King,Premier,2.0,-1.0,no. of people should be 2
2,15780037,QUADRUPLE Accessible,"[Quadruple, Accessible, Quadruple Accessible]",2,None,Quadruple,4.0,-1.0,"Bed size cannot be single, if it accommadate f..."
3,15780037,Room RUN OF HOUSE,"[Room, Run, Of, House, Room Run, Run Of, Of Ho...",1,None,,1.0,NaN,NaN
4,15780037,SUITE STANDARD,"[Suite, Standard, Suite Standard]",1,King,Suite,2.0,0.0,suites normaly with king/queen/double/twon bed...
...,...,...,...,...,...,...,...,...,...
395,38751099,SUITE SUPERIOR,"[Suite, Superior, Suite Superior]",1,King,Suite,2.0,0,-same-
396,38751099,SUITE SUPERIOR 2 DOUBLE BEDS,"[Suite, Superior, 2, Double, Beds, Suite Super...",2,Double,Suite,4.0,0,-same-
397,38751099,1-Bedroom Suite,"[1, Bedroom, Suite, 1 Bedroom, Bedroom Suite, ...",1,King,Suite,2.0,0,does the sweet have a bedroom
398,38751099,SUITE 1 BEDROOM,"[Suite, 1, Bedroom, Suite 1, 1 Bedroom, Suite ...",1,King,Suite,2.0,0,suite have a bedroom
399,38751099,SUITE KING BED 1 BEDROOM,"[Suite, King, Bed, 1, Bedroom, Suite King, Kin...",1,King,Suite,2.0,0,-same-

In [221]:
# df_1 = merged_df[['Vervotech ID','room_type','ngrams','bed_count','bed_size','room_style','Vevotech Naming','hotelRoomType','no_of_people','Label','Remarks']]

In [222]:
df_1 = merged_df

In [223]:
df_1.tail(3)

,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,Remarks
397,38751099,1-Bedroom Suite,"[1, Bedroom, Suite, 1 Bedroom, Bedroom Suite, ...",1,King,Suite,2.0,0,does the sweet have a bedroom
398,38751099,SUITE 1 BEDROOM,"[Suite, 1, Bedroom, Suite 1, 1 Bedroom, Suite ...",1,King,Suite,2.0,0,suite have a bedroom
399,38751099,SUITE KING BED 1 BEDROOM,"[Suite, King, Bed, 1, Bedroom, Suite King, Kin...",1,King,Suite,2.0,0,-same-

In [224]:
df1 = df_1.iloc[0:100]
df2 = df_1.iloc[100:200]
df3 = df_1.iloc[200:300]
df4 = df_1.iloc[300:400]

In [233]:
df1

,Vervotech ID,HotelBeds RoomName,ngrams,bed_count,bed_size,room_style,no_of_people,Label,Remarks
0,15780037,"Premier Skyline View Room, 2 Queen Beds","[Premier, Skyline, View, Room,, 2, Queen, Beds...",2,Queen,Premier,4.0,-1.0,2 queen bed can accommodate 4 people
1,15780037,"Premier Skyline View Room, King Bed","[Premier, Skyline, View, Room,, King, Bed, Pre...",1,King,Premier,2.0,-1.0,no. of people should be 2
2,15780037,QUADRUPLE Accessible,"[Quadruple, Accessible, Quadruple Accessible]",2,None,Quadruple,4.0,-1.0,"Bed size cannot be single, if it accommadate f..."
3,15780037,Room RUN OF HOUSE,"[Room, Run, Of, House, Room Run, Run Of, Of Ho...",1,None,,1.0,NaN,NaN
4,15780037,SUITE STANDARD,"[Suite, Standard, Suite Standard]",1,King,Suite,2.0,0.0,suites normaly with king/queen/double/twon bed...
...,...,...,...,...,...,...,...,...,...
95,15614808,1 King Studio Mobility Access Roll In Shower,"[1, King, Studio, Mobility, Access, Roll, In, ...",1,King,Studio,2.0,-1.0,no. of people should be 2
96,15614808,SUITE Accessible-2 Queen Beds,"[Suite, Accessible, 2, Queen, Beds, Suite Acce...",2,Queen,Suite,4.0,NaN,NaN
97,15614808,SUITE Accessible KING SIZE BED,"[Suite, Accessible, King, Size, Bed, Suite Acc...",1,King,Suite,2.0,-1.0,no. of people should be 2
98,15253183,DOUBLE DELUXE KING BED,"[Double, Deluxe, King, Bed, Double Deluxe, Del...",1,King,Deluxe,2.0,NaN,NaN
99,15253183,DOUBLE QUEEN SIZE BED,"[Double, Queen, Size, Bed, Double Queen, Queen...",1,Queen,Double,2.0,NaN,NaN

In [229]:
df1.to_csv("Niranjani_test_set_Level_2.csv")
df2.to_csv("Nileka_test_set_Level_2.csv")
df3.to_csv("saumya_test_set_Level_2.csv")
df4.to_csv("Nuwan_test_set_Level_2.csv")
#df5.to_csv("YungChing_test_set_Level_2.csv")

## Type A

In [103]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [105]:

style_size_dict = {
    'Deluxe': 'King',
    'Corner': 'Queen',
    'Standard': 'Single',
    'Suit': 'Twin Beds'
    
}

def extract_style_size(row):
    room_type = row['hotelRoomType']
    room_style = row['room_style']
    bed_size = row['bed_size']
    
    if not room_style and not bed_size:
        for token in nlp(room_type):
            if token.text in style_size_dict:
                bed_size = style_size_dict[token.text]
                room_style = token.text
                break
    
    elif not room_style:
        for token in nlp(room_type):
            if token.text in style_size_dict:
                room_style = token.text
                break
                
    elif not bed_size:
        if room_style in style_size_dict:
            bed_size = style_size_dict[room_style]
    
    row['room_style'] = room_style
    row['bed_size'] = bed_size
    return row

df = df.apply(extract_style_size, axis=1)

In [114]:
df.head(20)

,Vervotech ID,SupplierHotelId,SupplierName,GroupId,HotelBeds RoomCode,HotelBeds RoomName,Vervotech MappedStandardName,room_type,ngrams,bed_count,bed_size,room_style,Vevotech Naming,hotelRoomType
0,15111741,782331,HotelBeds,15111741-1,APT.KG-PE,APARTMENT PREMIER KING BED,Apartment Premier,Apartment Premier King Bed,"[Apartment, Premier, King, Bed, Apartment Prem...",1,King,Apartment,Apartment Premier,Apartment Premier King Bed
1,15111788,782334,HotelBeds,15111788-1,APT.2K,APARTMENT 2 KING BEDS,Apartment,Apartment 2 King Beds,"[Apartment, 2, King, Beds, Apartment 2, 2 King...",2,King,Apartment,Apartment,Apartment 2 King Beds
2,15131097,782325,HotelBeds,15131097-1,APT.KG,APARTMENT KING SIZE BED,Apartment,Apartment King Size Bed,"[Apartment, King, Size, Bed, Apartment King, K...",1,King,Apartment,Apartment,Apartment King Size Bed
3,15294880,766775,HotelBeds,15294880-1,DBL.QN,DOUBLE QUEEN SIZE BED,Queen Room,Queen Size Bed,"[Double, Queen, Size, Bed, Double Queen, Queen...",2,Queen,,Queen Room,Queen Size Bed
4,15294880,766775,HotelBeds,15294880-2,SUI.KG-1,SUITE KING SIZE BED,Suite,Suite King Size Bed,"[Suite, King, Size, Bed, Suite King, King Size...",1,King,Suite,Suite,Suite King Size Bed
5,15324900,141230,HotelBeds,15324900-1,DBL.2Q-DX,2 Queen Beds Deluxe Nonsmoke,"Deluxe, 2 Queen",2 Queen Beds Deluxe Nonsmoke,"[2, Queen, Beds, Deluxe, Nonsmoke, 2 Queen, Qu...",2,Queen,Deluxe,"Deluxe, 2 Queen",2 Queen Beds Deluxe Nonsmoke
6,15324900,141230,HotelBeds,15324900-1,ROO.2Q-DX,2 QUEEN BEDS DELUXE NONSMOKE,"Deluxe, 2 Queen",2 Queen Beds Deluxe Nonsmoke,"[2, Queen, Beds, Deluxe, Nonsmoke, 2 Queen, Qu...",2,Queen,Deluxe,"Deluxe, 2 Queen",2 Queen Beds Deluxe Nonsmoke
7,15324900,141230,HotelBeds,15324900-2,DBL.DX-KG,King Deluxe Accessible Roll Shwr Nosmk,"Deluxe, King, Accessible",King Deluxe Accessible Roll Shwr Nosmk,"[King, Deluxe, Accessible, Roll, Shwr, Nosmk, ...",1,King,Deluxe,"Deluxe, King, Accessible",King Deluxe Accessible Roll Shwr Nosmk
8,15324900,141230,HotelBeds,15324900-3,DBL.KG,KING LEISURE NONSMOKE,King Room,King Leisure Nonsmoke,"[King, Leisure, Nonsmoke, King Leisure, Leisur...",1,King,Leisure,King Room,King Leisure Nonsmoke
9,15324900,141230,HotelBeds,15324900-4,DBL.H6-KG,DOUBLE Accessible KING SIZE BED,"King Room, Accessible",Accessible King Size Bed,"[Double, Accessible, King, Size, Bed, Double A...",2,King,Accessible,"King Room, Accessible",Accessible King Size Bed
10,15324900,141230,HotelBeds,15324900-5,DBL.CV-KG,DOUBLE CITY VIEW KING BED,"King Room, City View",City View King Bed,"[Double, City, View, King, Bed, Double City, C...",2,King,,"King Room, City View",City View King Bed
11,15324900,141230,HotelBeds,15324900-6,QUA.2Q-NM,QUADRUPLE 2 QUEEN BEDS NON SMOKING,Quadruple Room,Quadruple 2 Queen Beds Non Smoking,"[Quadruple, 2, Queen, Beds, Non, Smoking, Quad...",2,Queen,,Quadruple Room,Quadruple 2 Queen Beds Non Smoking
12,15324900,141230,HotelBeds,15324900-7,DBL.NM-QN,1 QUEEN BED NONSMOKING,Queen Room,1 Queen Bed Nonsmoking,"[1, Queen, Bed, Nonsmoking, 1 Queen, Queen Bed...",1,Queen,,Queen Room,1 Queen Bed Nonsmoking
13,15324900,141230,HotelBeds,15324900-7,ROO.NM-QN,Room QUEEN BED NON SMOKING,Queen Room,Room Queen Bed Non Smoking,"[Room, Queen, Bed, Non, Smoking, Room Queen, Q...",1,Queen,,Queen Room,Room Queen Bed Non Smoking
14,15324900,141230,HotelBeds,15324900-7,DBL.QN,DOUBLE QUEEN SIZE BED,Queen Room,Queen Size Bed,"[Double, Queen, Size, Bed, Double Queen, Queen...",2,Queen,,Queen Room,Queen Size Bed
15,15324900,141230,HotelBeds,15324900-8,DBT.2Q,Double or Twin 2 QUEEN BEDS,Room - 2 Queen,Or Twin 2 Queen Beds,"[Double, Or, Twin, 2, Queen, Beds, Double Or, ...",2,Twin,,Room - 2 Queen,Or Twin 2 Queen Beds
16,15324900,141230,HotelBeds,15324900-8,DBL.2Q,DOUBLE 2 QUEEN BEDS,Room - 2 Queen,2 Queen Beds,"[Double, 2, Queen, Beds, Double 2, 2 Queen, Qu...",2,Queen,,Room - 2 Queen,2 Queen Beds
17,15324900,141230,HotelBeds,15324900-9,DBL.H6-2Q,DOUBLE Accessible-2 Queen Beds,"Room - 2 Queen, Accessible",Accessible 2 Queen Beds,"[Double, Accessible, 2, Queen, Beds, Double Ac...",2,Queen,Accessible,"Room - 2 Queen, Accessible",Accessible 2 Queen Beds
18,15324900,141230,HotelBeds,15324900-10,ROO.RO,Room RUN OF HOUSE,Run Of House,Room Run Of House,"[Room, Run, Of, House, Room Run, Run Of, Of Ho...",1,,,Run Of House,Room Run Of House
19,15324900,141230,HotelBeds,15324900-11,DBL.ST-2,DOUBLE STANDARD,Standard Room,Standard,"[Double, Standard, Double Standard]",2,,Standard,Standard Room,Standard

## Type B

In [ ]:
room_bed_dict = {
    "Standard": "King",
    "Deluxe": "Queen",
    "Suite": "King",
    "Executive": "King"
    
    # add more pairs
}

In [ ]:
for i, row in df.iterrows():
    if row['bed_size'] == '':
        room_style = row['room_style']
        if room_style in room_bed_dict:
            bed_size = room_bed_dict[room_style]
            df.at[i, 'bed_size'] = bed_size

In [ ]:
df.to_csv("test_3.csv")